body {
  background-color: #201f24;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/m2.jpg");
  
  object-fit: contain;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  /* filter: blur(8px); */
  }


  #Loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61)
    url("/src/assets/load.gif") no-repeat center center;
    background-size: 90px 90px; 
    z-index: 99999;
  }
  

.app-container {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

input {
  background-color: #1f202be0; 
  color: white;
  border-radius: 20px;
  font-size: small;
}
input::placeholder {
  color: rgba(253, 253, 253, 0.5);
  font-family: 'Arial', sans-serif;
}

.form-container input:focus {
  border-color: #ffffff34;
  box-shadow: 0 0 5px #08080800(0, 123, 255, 0.5);
  outline: none;
}



input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #686868;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}


input[type="file"]::file-selector-button:hover {
  background-color: #2c2c2c;
}


input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}


.app-title {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
}
.upload-container {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.file-input {
  display: block;
  margin: 10px auto;
  
}

.loading-text {
  font-size: 1.2em;
  color: #fffafa;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.uploaded-image {
  max-height: 400px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.text-editor-container {
  margin-top: 20px;
}
.editor {
  text-align: left;
  margin-top: 20px;
}

.editor-title {
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 10px;
}

.editor-textarea {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 320px) {
  .app-container {
    padding: 10px;
    max-width: 100%;
  }

  .upload-container {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
  }

  .editor-textarea {
    width: 100%;
    height: 200px;
  }

  .app-title {
    font-size: 5em;
  }

  .uploaded-image {
    max-height: 200px;
  }
}